.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 35px;
  display: flex;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  background-color: white;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 20px;
  background-color: chocolate;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__potion {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_ptionLineOne {
  font-size: 10px;
}
.header_ptionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basdketCount {
  margin-left: 10px;
  margin-right: 10px;
}
